{% extends 'store/main_base.html' %}
{% load static %}
{% block title %}sing up{% endblock  %}
{% block extra_style %}
    <link rel="apple-touch-icon" sizes="180x180" href="store-assets/assets/images/icons/apple-touch-icon.png">
    
    <link rel="mask-icon" href="store-assets/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <meta name="apple-mobile-web-app-title" content="timexo">
    <meta name="application-name" content="timexo">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="store-assets/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'store-assets/assets/css/bootstrap.min.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'store-assets/assets/css/style.css' %}">
<style>
    .error-message {
        margin-top: 5px;
        font-size: 0.9em;
        color: red;
    }
</style>
{% endblock %}
{% block content %}
<main class="main">
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('{% static 'my_shop_images\login_back.jpg' %}')">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="register-tab-2" href="{% url "login" %}" >Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="true">Sign up</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
                            <form action="{% url 'register' %}" method="post" id="register-form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="register-username">Username</label>
                                        <input type="text" class="form-control {% if errors.username %}is-invalid{% endif %}" id="register-username" name="username" value="{{ username }}">
                                        <div id="username-error" class="invalid-feedback" style="display: none;"></div>
                                        {% if errors.username %}
                                            <div class="invalid-feedback" style="display: block;">
                                                {{ errors.username }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label for="register-email">Your email address</label>
                                        <input type="email" class="form-control {% if errors.email %}is-invalid{% endif %}" id="register-email" name="email" value="{{ email }}">
                                        <div id="email-error" class="invalid-feedback" style="display: none;"></div>
                                        {% if errors.email %}
                                            <div class="invalid-feedback" style="display: block;">
                                                {{ errors.email }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label for="register-phone">Phone Number</label>
                                        <input type="tel" class="form-control {% if errors.phone_number %}is-invalid{% endif %}" id="register-phone" name="phone_number" value="{{ phone_number }}">
                                        <div id="phone-error" class="invalid-feedback" style="display: none;"></div>
                                        {% if errors.phone_number %}
                                            <div class="invalid-feedback" style="display: block;">
                                                {{ errors.phone_number }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label for="register-password">Password</label>
                                        <input type="password" class="form-control {% if errors.password %}is-invalid{% endif %}" id="register-password" name="password" >
                                        {% if errors.password %}
                                            <div class="invalid-feedback" style="display: block;">
                                                {{ errors.password }}
                                            </div>
                                        {% endif %}
                                    </div>
<div class="form-group">
    <label for="register-referral">Referral Code (Optional)</label>
    <input type="text" class="form-control {% if errors.referral_code %}is-invalid{% endif %}" id="register-referral" name="referral_code" value="{{ referral_code }}">
    {% if errors.referral_code %}
        <div class="invalid-feedback" style="display: block;">
            {{ errors.referral_code }}
        </div>
    {% endif %}
</div>                                    
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2 col-12">
                                            <span>SIGN UP</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </div>
                                    <div class="col-sm-12">
                                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-login btn-g">
                                            <i class="icon-google"></i>
                                            Sign in With Google
                                        </a>
                                    </div>
                            </form>
                            </div><!-- End .form-choice -->
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
</main><!-- End .main -->
{% endblock  %}

{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="{% static 'store-assets/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'store-assets/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'store-assets/assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'store-assets/assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'store-assets/assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'store-assets/assets/js/owl.carousel.min.js' %}"></script>
<script>
    $(document).ready(function() {
    function checkField(field, errorElement, checkUrl, paramName) {
        var value = field.val();
        if (!value) {
            errorElement.hide();
            return;
        }
        var data = {};
        data[paramName] = value;
        $.ajax({
            url: checkUrl,
            data: data,
            dataType: 'json',
            success: function(data) {
                if (data.exists) {
                    errorElement.text('This ' + field.attr('name') + ' is already taken.').show();
                    field.addClass('is-invalid');
                } else {
                    errorElement.hide();
                    field.removeClass('is-invalid');
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log('AJAX error:', textStatus, errorThrown);
            }
        });
    }

    $('#register-username').on('blur', function() {
        checkField($(this), $('#username-error'), '{% url "check_username" %}', 'username');
    });

    $('#register-email').on('blur', function() {
        checkField($(this), $('#email-error'), '{% url "check_email" %}', 'email');
    });
});
</script>
{% endblock %}