{% extends 'store/Base.html' %}
{% load static %}

{% block title %}sing up{% endblock  %}

{% block extra_style %}
    <link rel="apple-touch-icon" sizes="180x180" href="store-assets/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="store-assets/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="store-assets/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="store-assets/assets/images/icons/site.html">
    <link rel="mask-icon" href="store-assets/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="store-assets/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="store-assets/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'store-assets/assets/css/bootstrap.min.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'store-assets/assets/css/style.css' %}">
{% endblock %}

{% block content %}
<main class="main">
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('{% static '\shop_img\background.jpg' %}')">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="signin-tab-2">OTP</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}" >Back to Register</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
<form action="{% url 'validate_otp' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="otp">Enter your OTP</label>
        <input type="text" class="form-control" id="otp" name="otp" required="">
    </div>
    <div class="form-footer">
        <button type="submit" class="btn btn-outline-primary-2 col-12">
            <span>Submit</span>
            <i class="icon-long-arrow-right"></i>
        </button>
    </div>
</form>
<form action="{% url 'resend_otp' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary">Resend OTP</button>
</form>
                           
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
</main><!-- End .main -->



{% endblock  %}
